<html>
<head>
    <title>Tag</title>
</head>
<body>
<h1>My Tag</h1>
<ul>

    {% for tag in tag %}
        <form method="post" enctype="multipart/form-data" action="/tag_all">
            <input type="hidden" name="tag_name" value="{{ tag }}"/>
            <a href="#" onclick="this.parentNode.submit();">see photo tagged with {{ tag }}<a/><br/>
        </form>
    {% endfor %}

    <li><a href='/all_tag'>see all tags</a></li>
    <li><a href='/tag_popular'>popular tags</a></li>
</ul>

<form method="post" enctype="multipart/form-data" action="/tag_search">
    <label for="tag">Search photo by tag: </label>
    <input type="text" name="tag" required='true'/>
    <input type="submit" value="Submit"/>
</form>

<button onclick="history.back()">Go Back</button>
<br/>
<a href='/'>Home</a>
</body>
</html>